<body>


<%= form_for(@book) do |f| %>

<h2>Editing page</h2><br><br>

<p>title</p>
<%= f.text_field :title %>

<p>body</p>
<%= f.text_area :body %><br>

<%= f.submit 'updatebook' %>
<% end %>

<%= link_to"show",book_path(@book) %>
<%= link_to"back",books_path %>

</body>>